services:
  api:
    build: ./api
    ports:
      - '8080:8080'
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/erp
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=root
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_URL=http://localhost:8080
    ports:
      - '3000:3000'
    depends_on:
      - api

  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_DB=erp
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=postgres
    ports:
      - '5432:5432'

networks:
  default:
    driver: bridge